In [1]:
import pandas as pd
df = pd.read_csv('dulieuxettuyendaihoc.csv',header=0,delimiter=',',encoding='utf-8')
df

       MSSV GT  DT   KV    M1    M2    M3  KT    NGAYTHI DINHHUONGNGHENGHIEP
0     SV001  F NaN  2NT  3.25  3.25  4.50  A1  12/7/2018                  No
1     SV002  M NaN    1  6.00  4.00  3.50   C  12/7/2018                 Yes
2     SV003  M NaN    1  5.00  6.75  4.00   C  12/7/2018                  No
3     SV004  M NaN    1  4.25  4.25  5.25  D1  12/7/2018                  No
4     SV005  M NaN  2NT  4.25  4.50  5.00   A  12/7/2018                  No
..      ... ..  ..  ...   ...   ...   ...  ..        ...                 ...
95   SV0096  F NaN    1  5.25  1.50  6.25   C  7/20/2022                 Yes
96   SV0097  F NaN    1  5.25  3.75  4.75   C  7/20/2022                  No
97   SV0098  M NaN  2NT  7.00  8.00  4.00   C  7/20/2022                 Yes
98   SV0099  M NaN    1  5.00  3.50  5.50   C  7/20/2022                  No
99  SV00100  M NaN  2NT  5.25  2.50  4.25   C  7/20/2022                 Yes

[100 rows x 10 columns]

In [2]:
df.head(10)
df.tail(10)
df.columns

Index(['MSSV', 'GT', 'DT', 'KV', 'M1', 'M2', 'M3', 'KT', 'NGAYTHI',
       'DINHHUONGNGHENGHIEP'],
      dtype='object')

In [3]:
df.rename(columns={'NGAYTHI':'NT', 'DINHHUONGNGHENGHIEP':'NGHE'}, inplace=True)

In [5]:
df.columns

Index(['MSSV', 'GT', 'DT', 'KV', 'M1', 'M2', 'M3', 'KT', 'NT', 'NGHE'], dtype='object')

In [6]:
df.dtypes

MSSV     object
GT       object
DT      float64
KV       object
M1      float64
M2      float64
M3      float64
KT       object
NT       object
NGHE     object
dtype: object

In [7]:
df.shape

(100, 10)

In [8]:
df.index

RangeIndex(start=0, stop=100, step=1)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MSSV    100 non-null    object
 1   GT      100 non-null    object
 2   DT      3 non-null      float64
 3   KV      100 non-null    object
 4   M1      100 non-null    float64
 5   M2      100 non-null    float64
 6   M3      100 non-null    float64
 7   KT      100 non-null    object
 8   NT      100 non-null    object
 9   NGHE    100 non-null    object
dtypes: float64(4), object(6)
memory usage: 7.9+ KB