CAC KY THUAT TRSMDFORMATION

In [51]:
import pandas as pd

In [52]:
df = pd.DataFrame({'Math': [4, 4, 7, 8, 12, 13, 15, 18, 22, 23, 23, 25],
                   'Eng': [2, 5, 4, 7, 7, 8, 5, 4, 5, 11, 13, 8]})
df.shape

(12, 2)

In [53]:
df

    Math  Eng
0      4    2
1      4    5
2      7    4
3      8    7
4     12    7
5     13    8
6     15    5
7     18    4
8     22    5
9     23   11
10    23   13
11    25    8

In [54]:
#chia du lieu thanh 5 khoang cos so luong phan tu trong tung khoang xap xi bang nhau 

df['bin1'] = pd.qcut(df['Math'], q=5)
df
#pd.qcut: Phân chia dữ liệu thành 5 nhóm có kích thước bằng nhau (bin) dựa trên phân vị. Điều này giúp phân loại điểm số Toán thành các nhóm để phân tích dễ dàng hơn.

    Math  Eng          bin1
0      4    2  (3.999, 7.2]
1      4    5  (3.999, 7.2]
2      7    4  (3.999, 7.2]
3      8    7   (7.2, 12.4]
4     12    7   (7.2, 12.4]
5     13    8  (12.4, 16.8]
6     15    5  (12.4, 16.8]
7     18    4  (16.8, 22.8]
8     22    5  (16.8, 22.8]
9     23   11  (22.8, 25.0]
10    23   13  (22.8, 25.0]
11    25    8  (22.8, 25.0]

In [55]:
df['bin1'].value_counts()
#value_counts(): Đếm số lượng giá trị trong mỗi bin để hiểu cách phân phối điểm số.

bin1
(3.999, 7.2]    3
(22.8, 25.0]    3
(7.2, 12.4]     2
(12.4, 16.8]    2
(16.8, 22.8]    2
Name: count, dtype: int64

In [56]:
#chia theo phân vị: giả sử chia toán theo phân vị, phân vị chia dl theo
df['bin2'] = pd.qcut(df['Math'], q=[0, .2, .5, .6, .8, 1])
df
# Giải thích: Phân chia dữ liệu Toán thành các bin không đồng nhất, cho phép bạn xác định rõ hơn phân phối dựa trên các tỷ lệ phần trăm cụ thể (0%, 20%, 40%, 60%, 80%, 100%).

    Math  Eng          bin1          bin2
0      4    2  (3.999, 7.2]  (3.999, 7.2]
1      4    5  (3.999, 7.2]  (3.999, 7.2]
2      7    4  (3.999, 7.2]  (3.999, 7.2]
3      8    7   (7.2, 12.4]   (7.2, 14.0]
4     12    7   (7.2, 12.4]   (7.2, 14.0]
5     13    8  (12.4, 16.8]   (7.2, 14.0]
6     15    5  (12.4, 16.8]  (14.0, 16.8]
7     18    4  (16.8, 22.8]  (16.8, 22.8]
8     22    5  (16.8, 22.8]  (16.8, 22.8]
9     23   11  (22.8, 25.0]  (22.8, 25.0]
10    23   13  (22.8, 25.0]  (22.8, 25.0]
11    25    8  (22.8, 25.0]  (22.8, 25.0]

In [57]:
df['bin2'].value_counts()

bin2
(3.999, 7.2]    3
(7.2, 14.0]     3
(22.8, 25.0]    3
(16.8, 22.8]    2
(14.0, 16.8]    1
Name: count, dtype: int64

In [58]:
#chia theo phân khoảng và gán nhãn
df['bin3'] = pd.qcut(df['Math'],
                           q=[0, .2, .5, .6, .8, 1],
                           labels=['A', 'B', 'C', 'D', 'E'])
df

    Math  Eng          bin1          bin2 bin3
0      4    2  (3.999, 7.2]  (3.999, 7.2]    A
1      4    5  (3.999, 7.2]  (3.999, 7.2]    A
2      7    4  (3.999, 7.2]  (3.999, 7.2]    A
3      8    7   (7.2, 12.4]   (7.2, 14.0]    B
4     12    7   (7.2, 12.4]   (7.2, 14.0]    B
5     13    8  (12.4, 16.8]   (7.2, 14.0]    B
6     15    5  (12.4, 16.8]  (14.0, 16.8]    C
7     18    4  (16.8, 22.8]  (16.8, 22.8]    D
8     22    5  (16.8, 22.8]  (16.8, 22.8]    D
9     23   11  (22.8, 25.0]  (22.8, 25.0]    E
10    23   13  (22.8, 25.0]  (22.8, 25.0]    E
11    25    8  (22.8, 25.0]  (22.8, 25.0]    E

In [59]:
#phân khoảng theo mức điểm
df['bin4'] = pd.cut(df['Eng'],
                      bins=[0, 5, 8, float('Inf')],
                      labels=['Bad', 'OK', 'Good'])
df

    Math  Eng          bin1          bin2 bin3  bin4
0      4    2  (3.999, 7.2]  (3.999, 7.2]    A   Bad
1      4    5  (3.999, 7.2]  (3.999, 7.2]    A   Bad
2      7    4  (3.999, 7.2]  (3.999, 7.2]    A   Bad
3      8    7   (7.2, 12.4]   (7.2, 14.0]    B    OK
4     12    7   (7.2, 12.4]   (7.2, 14.0]    B    OK
5     13    8  (12.4, 16.8]   (7.2, 14.0]    B    OK
6     15    5  (12.4, 16.8]  (14.0, 16.8]    C   Bad
7     18    4  (16.8, 22.8]  (16.8, 22.8]    D   Bad
8     22    5  (16.8, 22.8]  (16.8, 22.8]    D   Bad
9     23   11  (22.8, 25.0]  (22.8, 25.0]    E  Good
10    23   13  (22.8, 25.0]  (22.8, 25.0]    E  Good
11    25    8  (22.8, 25.0]  (22.8, 25.0]    E    OK

In [60]:
df['bin4'].value_counts()

bin4
Bad     6
OK      4
Good    2
Name: count, dtype: int64

CÁC KỸ THUẬT STRANFORM THỨ 2

Phần 2: Mã hóa Nhãn và Mã hóa One-Hot

In [61]:
# import pandas as pd
#CHUYỂN DỮ LIỆU ĐỊNH TÍNH
#zip tạo ra dataframe từ 2 cái list

gdp = [11, 22, 33, 44, 55, 66, 77]
countries = ['Spain', 'France', 'Spain', 'Germany', 'France']
df = pd.DataFrame(list(zip(gdp, countries)),
                  columns=['GDP', 'Countries'])
df

   GDP Countries
0   11     Spain
1   22    France
2   33     Spain
3   44   Germany
4   55    France

Mã hóa Nhãn

In [62]:
#Kỹ thuật đánh nhãn
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
df['labelCountries']= label_encoder.fit_transform(df['Countries']) 
df
Giải thích:
# Label Encoding: Chuyển đổi các giá trị danh mục (ở đây là tên quốc gia) thành các số nguyên.
#  Ví dụ, 'France' có thể được mã hóa thành 0, 'Germany' thành 1, và 'Spain' thành 2. 
# Việc này hữu ích khi cần sử dụng dữ liệu trong các mô hình máy học mà không thể xử lý được dữ liệu danh mục.

SyntaxError: invalid syntax (985775938.py, line 6)

Mã hóa One-Hot

In [13]:
#KỸ THUẬT OneHotEncoding

dfOneHotEncoding = pd.get_dummies(df.Countries, prefix='Country')
print(dfOneHotEncoding.head())
df = pd.concat([df, dfOneHotEncoding], axis=1)
df
# Giải thích:
# Mã hóa One-Hot: Tạo các cột mới cho mỗi giá trị duy nhất trong cột Countries, với giá trị 1 hoặc 0 để chỉ ra sự hiện diện của quốc gia đó. Ví dụ, nếu một quốc gia là 'Spain', cột 'Country_Spain' sẽ có giá trị 1, trong khi các cột khác sẽ là 0.
# pd.concat: Kết hợp DataFrame ban đầu với DataFrame mã hóa one-hot để có được một bảng dữ liệu hoàn chỉnh hơn.

   Country_France  Country_Germany  Country_Spain
0           False            False           True
1            True            False          False
2           False            False           True
3           False             True          False
4            True            False          False

,GDP,Countries,labelCountries,Country_France,Country_Germany,Country_Spain
0,11,Spain,2,False,False,True
1,22,France,0,True,False,False
2,33,Spain,2,False,False,True
3,44,Germany,1,False,True,False
4,55,France,0,True,False,False

Khi nào biến đối cột country thành cột lableCoutries?

Sử dụng LabelBinarizer và OneHotEncoder

In [14]:
#CHUYỂN VỀ VECTOR
from sklearn.preprocessing import LabelBinarizer
y = LabelBinarizer().fit_transform(df.Countries)
y
# Giải thích: LabelBinarizer cũng thực hiện mã hóa tương tự 
# như One-Hot Encoding, nhưng với kết quả đầu ra là mảng nhị phân,
# có thể hữu ích cho một số tác vụ khác.

array([[0, 0, 1],
       [1, 0, 0],
       [0, 0, 1],
       [0, 1, 0],
       [1, 0, 0]])

In [15]:
from sklearn.preprocessing import OneHotEncoder
y = OneHotEncoder().fit_transform(df[['Countries']]).toarray()
print(y)
Giải thích:
# OneHotEncoder tạo ra mảng nhị phân cho dữ liệu danh mục, và .toarray() 
# chuyển đổi thành mảng NumPy cho dễ sử dụng trong các mô hình học máy.

[[0. 0. 1.]
 [1. 0. 0.]
 [0. 0. 1.]
 [0. 1. 0.]
 [1. 0. 0.]]

CHUẨN HÓA DỮ LIỆU (NORMALization)

In [1]:
year = [2010,2011,2012,2013,2014,2015]

salaryHCM = [8.5,9.0,10.5,12.0,11.0,10.0]

salaryLA = [5.5,6.0,6.0,5.5,6.0,5.0]

In [17]:
df = pd.DataFrame(list(zip(year, salaryHCM,salaryLA)),
                  columns=['Year', 'HCM','LA'])
df

   Year   HCM   LA
0  2010   8.5  5.5
1  2011   9.0  6.0
2  2012  10.5  6.0
3  2013  12.0  5.5
4  2014  11.0  6.0
5  2015  10.0  5.0

In [18]:
#Tại sao chúng ta cần dùng chuẩn hóa trước khi đưa vào phân tích
#Hướng dẫn max absolute scale về đoạn [-1,1]
#(x) : |max|
max_la = df['LA'].abs().max()
df['macLA'] = df['LA'] / max_la

df

   Year   HCM   LA     macLA
0  2010   8.5  5.5  0.916667
1  2011   9.0  6.0  1.000000
2  2012  10.5  6.0  1.000000
3  2013  12.0  5.5  0.916667
4  2014  11.0  6.0  1.000000
5  2015  10.0  5.0  0.833333

In [19]:
max_hcm = df['HCM'].abs().max()
df['macHCM'] = df['HCM'] / max_hcm
df

   Year   HCM   LA     macLA    macHCM
0  2010   8.5  5.5  0.916667  0.708333
1  2011   9.0  6.0  1.000000  0.750000
2  2012  10.5  6.0  1.000000  0.875000
3  2013  12.0  5.5  0.916667  1.000000
4  2014  11.0  6.0  1.000000  0.916667
5  2015  10.0  5.0  0.833333  0.833333

In [20]:
#maximum absolute scaling
from sklearn.preprocessing import MaxAbsScaler
scaler = MaxAbsScaler()
scaled = scaler.fit_transform(df[['HCM','LA']])
scaled_df = pd.DataFrame(scaled, columns=df[['HCM','LA']].columns)

print(scaled_df)
# Giải thích: Sử dụng MaxAbsScaler từ thư viện sklearn để chuẩn hóa các cột lương HCM và LA.
#  Kết quả là một DataFrame mới với các giá trị đã được chuẩn hóa.

        HCM        LA
0  0.708333  0.916667
1  0.750000  1.000000
2  0.875000  1.000000
3  1.000000  0.916667
4  0.916667  1.000000
5  0.833333  0.833333

In [21]:
scaler = MaxAbsScaler()
scaled = scaler.fit_transform(df[['HCM']])
scaled_df = pd.DataFrame(scaled, columns=df[['HCM']].columns)
print(scaled_df)

        HCM
0  0.708333
1  0.750000
2  0.875000
3  1.000000
4  0.916667
5  0.833333

In [16]:
#Hãy cho biết với lương HCM va LA lần lượt là 4.5 và 5.75 thì sẽ scale thành bao nhiêu
vSc = scaler.transform([[4.5, 5.75]])
vSc
#transform() có thể sử dụng để chuẩn hóa các giá trị mới không có trong DataFrame ban đầu.

NameError: name 'scaler' is not defined

In [23]:
#Hãy cho biết gtri luong cảu HCM và LA trước khi scale là bao nhiêu
vR = scaler.inverse_transform([[0.5,0.8]])
vR
#inverse_transform() chuyển đổi giá trị đã chuẩn hóa về giá trị gốc, điều này hữu ích khi bạn cần chuyển đổi lại giá trị để diễn giải.

array([[6. , 4.8]])

2. MinMaxScaler

In [24]:
#Phương pháp min max scale
# công thức (x- min)/(max - min)
min_la = df['LA'].min()
max_la = df['LA'].max()
df['mmcLA'] = (df['LA'] - min_la) / (max_la - min_la)

df

   Year   HCM   LA     macLA    macHCM  mmcLA
0  2010   8.5  5.5  0.916667  0.708333    0.5
1  2011   9.0  6.0  1.000000  0.750000    1.0
2  2012  10.5  6.0  1.000000  0.875000    1.0
3  2013  12.0  5.5  0.916667  1.000000    0.5
4  2014  11.0  6.0  1.000000  0.916667    1.0
5  2015  10.0  5.0  0.833333  0.833333    0.0

In [25]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaled = scaler.fit_transform(df[['HCM','LA']])
scaled_df = pd.DataFrame(scaled, columns=df[['HCM','LA']].columns)

print(scaled_df)

        HCM   LA
0  0.000000  0.5
1  0.142857  1.0
2  0.571429  1.0
3  1.000000  0.5
4  0.714286  1.0
5  0.428571  0.0

giả sử lương HCM và LA là 11.0 và 4.5

In [26]:
vSc = scaler.transform([[11.0,4.5]]);
vSc

d:\AppPansda\.venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

array([[ 0.71428571, -0.5       ]])

In [50]:
#Gỉa sử là 0.65 và 1.9 hãy cho biết trước biến đổi là nhiu
vR = scaler.inverse_transform([[0.65,1.9]])
vR

NotFittedError: This StandardScaler instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [28]:
#Standardization z-score= ( x - giá trị trung bình )/ độ lệch chuẩn

#Tính z-score
mean_la = df['LA'].mean()
std_la = df['LA'].std()
df['zLA'] = (df['LA'] - mean_la) / std_la

df

   Year   HCM   LA     macLA    macHCM  mmcLA       zLA
0  2010   8.5  5.5  0.916667  0.708333    0.5 -0.408248
1  2011   9.0  6.0  1.000000  0.750000    1.0  0.816497
2  2012  10.5  6.0  1.000000  0.875000    1.0  0.816497
3  2013  12.0  5.5  0.916667  1.000000    0.5 -0.408248
4  2014  11.0  6.0  1.000000  0.916667    1.0  0.816497
5  2015  10.0  5.0  0.833333  0.833333    0.0 -1.632993

In [49]:
mean_hcm = df['HCM'].mean()
std_hcm = df['HCM'].std()
df['zHCM'] = (df['HCM'] - mean_hcm) / std_hcm
df

KeyError: 'HCM'

In [30]:

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaled = scaler.fit_transform(df[['HCM','LA']])

scaled_df = pd.DataFrame(scaled, columns=df[['HCM','LA']].columns)

print(scaled_df)

KeyError: "None of [Index(['HCM', 'LA'], dtype='object')] are in the [columns]"

In [47]:
print(df.columns)

Index(['GDP', 'Countries'], dtype='object')

In [34]:
#transform theo 1 hàm bất kì
def funcX(x):
    return x*x + 1

df['TransformX'] = funcX(df[["LA"]])

#Giải thích:
# Định nghĩa một hàm funcX để biến đổi dữ liệu trong cột LA thành 
# 𝑥2+1. Hàm này có thể được sử dụng để tạo ra các đặc trưng mới 
# cho mô hình máy học, giúp mô hình có khả năng học tốt hơn từ dữ liệu.

KeyError: "None of [Index(['LA'], dtype='object')] are in the [columns]"

Bài tập
Sinh viên tính vẽ biểu đồ phân phối lương trung bình của HCM
Tính skenewss và kurtorsis của lương trung binh HCM
Sử dụng hàm log dể transform dữ liệu
Vẽ biểu đồ phân phối của dữ liệu lương trung bình của HCM sau khi transform
Tính skenewss và kurtorist của dữ liệu lương trung bình HCM sau khi transform
Hãy so sánh độ nghiêng, độ nhọn phân phói sau khi transform so với dữ liệu ban đầu

In [31]:
import seaborn as sns
import matplotlib as plt
sns.histplot(df['zHCM'], kde=True)
plt.title('Biểu đồ phân phối lương trung bình HCM')
plt.xlabel('Lương')
plt.ylabel('Tần suất')
plt.show()

KeyError: 'zHCM'